@model SmartAdminMvc.Areas.Admin.Models.EditReportType
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="content" class="container width">
    <div class="row center">

        <div class="col-xs-12 col-sm-12 col-md-8 in_blk">
            <div class="well no-padding">
                <form method="post" action="#" name="logFrm" class="smart-form clientform client-form" role="form">
                    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <header class="left_align">
                            Edit Report Type
                        </header>

                        <fieldset>
                            <section class="formrow2">
                                <label class="label">Report Type</label>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    @Html.TextBoxFor(m => m.name, new { @class = "form-control", @required = "required", placeholder = "Report Type" })
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Report Type</b>
                                </label>
                            </section>

                            <section class="formrow2">
                                <label class="label">Contact No.</label>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    @*<input type="email" name="email" value="demo@email.com">*@
                                    @Html.TextBoxFor(m => m.rank, new { @class = "form-control", @required = "required", placeholder = "Rank" })
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Rank.</b>
                                </label>
                            </section>

                            <section class="formrow2">
                                <label class="label">Status</label>
                                <div class="checkboxgroup">
                                    <label class="checkbox left_align">
                                        @*<input type="checkbox" name="rememberMe" value="true" checked="checked">*@
                                        @Html.CheckBoxFor(m => m.isActive)
                                        <i></i>is Active
                                    </label></div>
</section>
                        </fieldset>
                        <footer>
                            <button class="btn btn-white" type="button" onclick="@("location.href='" + Url.Action("ReportTypeManagement", "ReportType") + "'")">Cancel</button>
                            <button type="submit" class="btn btn-primary">
                                Save
                            </button>
                        </footer>
                    }
                </form>
            </div>

        </div>
    </div>
</div>



