@model SmartAdminMvc.Models.CompanyParameter
@{
    ViewBag.Title = "EditParameters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="container width">
    <div class="row center">

        <div class="col-xs-12 col-sm-12 col-md-8 in_blk">
            <div class="well no-padding">
                <form method="post" action="#" name="logFrm" class="smart-form clientform client-form" role="form">
                    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <header class="left_align">
                            Edit Line Item
                        </header>
                        <fieldset>
                            <section class="radiowrap">
                                <label class="label">Budget Type</label>
                                <label class="input">
                                    @*<i class="icon-append fa fa-user"></i>*@
                                    @*@Html.DropDownListFor(model => model.budgetTypeId, Model.BudgetTypeList, "--- Select Budget Type ---", new { @class = "form-control", @required = "required", placeholder = "Budget Type", id = "ddBudgetType" })*@
                                    <div class="inline-group">
                                        @for (int i = 0; i < Model.BudgetTypeList.Count(); i++)
                                        {
                                            <label class="radio">
                                                @Html.RadioButtonFor(m => Model.budgetTypeId, Model.BudgetTypeList[i].Value, new { type = "radio", name = "radio-inline", @required = "required", disabled = "disabled", id = "ddBudgetType" })
                                                <i></i> @Model.BudgetTypeList[i].Text
                                                @Html.HiddenFor(m => Model.BudgetTypeList[i].Value)
                                                @Html.HiddenFor(m => Model.BudgetTypeList[i].Text)
                                            </label>

                                        }
                                    </div>
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Budget Type</b>
                                </label>
                            </section>
                            <section class="formrow2">
                                <label class="label">Category</label>
                                <label class="input">
                                    @*<i class="icon-append fa fa-user"></i>*@
                                    @Html.DropDownListFor(model => model.parentId, Model.MaincategoryList, "--- Select Category ---", new { @class = "form-control", @required = "required", placeholder = "Category", disabled = "disabled", id = "ddcategory" })
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter Budget Type</b>
                                </label>
                            </section>
                            <section class="formrow2">
                                <label class="label">Parameters</label>
                                <div class="checkboxgroup">
                                    @for (int i = 0; i < Model.Parameterslist.Count(); i++)
                                    {

                                        <label class="checkbox">
                                            @Html.CheckBoxFor(m => Model.Parameterslist[i].Selected)
                                            <i></i> @Model.Parameterslist[i].Text
                                            @Html.HiddenFor(m => Model.Parameterslist[i].Value)
                                            @Html.HiddenFor(m => Model.Parameterslist[i].Text)
                                        </label>


                                    }
                                </div>



                            </section>
                           
                        </fieldset>
                        <footer>
                            @*<button class="btn btn-white" type="button" onclick="@("location.href='" + Url.Action("ParametersView", "CompanyParameter") + "'")">Cancel</button>*@
                            <button class="btn btn-white" type="button" onclick="@("location.href='/CompanyParameter/ParametersView?page=" + HttpContext.Current.Request.QueryString["page"] + "'")">Cancel</button>
                            <button class="btn btn-primary" type="submit">Save</button>
                        </footer>
                    }
                </form>
            </div>

        </div>
    </div>
</div>
@section pagespecific {
    <script type="text/javascript">
        $(function () {
             $('#ddBudgetType').change(function () {
                var ddlsource = $('#ddBudgetType').val();
                var ddltarget = "#ddcategory";
                $.getJSON('/Category/CatType_SelectedState/' + $('#ddBudgetType').val(), function (data) {
                    $(ddltarget).empty();
                    $(ddltarget).append("<option>--- Select Category ---</option>");
                    $.each(data, function (index, optionData) {
                        $(ddltarget).append("<option value='" + optionData.Value + "'>" + optionData.Text + "</option>");
                    });

                });
            });
        });
    </script>
}

