@model SmartAdminMvc.Areas.Admin.Models.Pages
@{
    ViewBag.Title = "AddPages";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="@Url.Content("~/scripts/plugin/ckeditor/ckeditor.js")"></script>
<script type="text/javascript" src="@Url.Content("~/scripts/plugin/ckeditor/adapters/jquery.js")"></script>

<div id="content" class="container width">
    <div class="row center">

        <div class="col-xs-12 col-sm-12 col-md-10 in_blk">
            <div class="well no-padding">
                <form name="Admin" method="post" class="smart-form clientform client-form">
                    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <header class="left_align">
                            Add Content
                        </header>
                        <fieldset>
                            <section class="formrow2">
                                <label class="label"> Content Title</label>
                                <label class="input">
                                     @Html.TextBoxFor(m => m.name, new { @class = "form-control", @required = "required" })
                                </label>
                            </section>
                            <section class="formrow2">
                                <label class="label"> Content Description</label>
                                <label class="edietLebal">
                                     @Html.TextAreaFor(m => m.description, new { @class = "ckeditor" })
                                </label>
                            </section>

                            <section class="formrow2">
                                <label class="label">Status</label>
                                <div class="checkboxgroup">
                                    <label class="checkbox ">

                                        @Html.CheckBoxFor(m => m.status)
                                        <i></i>is Active
                                    </label>
                                </div>
                            </section>
                        </fieldset>
                        <footer>
                            <button class="btn btn-white" type="button" onclick="@("location.href='" + Url.Action("PagesView", "Pages") + "'")">Cancel</button>
                            <button type="submit" class="btn btn-primary">
                                Save
                            </button>
                        </footer>
                            
                    }
                </form>
            </div>
        </div>
    </div>
</div>

